<h3>Editing Book</h3>
<p>Title</p>
<%= @book.title %>
<p>Opinion</p>
<%= @book.body %>

<%= link_to "Show"
｜
<%= link_to "Back",books_path %>
Show | Back




<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>
