<h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>

<p>In <i class="fa-solid fa-book"></i> Bookers,</p>
<p>you can share exchange your opinions , inpressions ,</br>
and emotions</p>
<p>about various books!</p>

<%= link_to "Log in",new_user_session_path %>
<%= link_to "Sign up",new_user_registration_path %>

<%= link_to "ログアウト",destroy_user_session_path, method: :delete %>


<p>/Rails/Submission3/bookers2/app/views/homes/top.html.erb</p>



<!--Log in view↓
/Rails/Submission3/bookers2/app/views/devise/sessions/new.html.erb-->

<!--Sign up view↓
/Rails/Submission3/bookers2/app/views/devise/registrations/new.html.erb-->



<!--Prefix：-->
<!--Controller#Action:-->